@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@400;700&display=swap');

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #14213d;
}

h1 {
  font-family: fantasy;
  font-family: 'Indie Flower', cursive;
  margin-bottom: auto;
  color: #e5e5e5;
  border: 2px dashed #e5e5e5;
  padding: 10px;
}

h2 {
  color: #e5e5e5;
}

span {
  font-weight: 700;
}

form {
  min-height: 180px;
}

select,
.category-title {
  text-transform: capitalize;
}

.list-group-item.active {
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fca311;
  border-color: #fca311;
  color: #000000;
}

ul {
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
}

input.btn {
  font-weight: 700;
  margin: 20px auto;
}

.device {
  color: #e5e5e5;
}

.device ul {
  padding: 0;
}

.device li {
  list-style-type: none;
}
.device .info {
  margin: 20px auto;
  overflow: hidden;
}

.device .hidden {
  max-height: 0;
}

.device .visible {
  max-height: max-content;
}
